{{> admin/header}}

<div class="wrapper">

  {{> admin/top}}

  {{> admin/leftmenu}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="page page-dashboard">
        <div class="row">
            <div class="text-center">
                <!-- Stats -->
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                            <span class="fa fa-rocket"></span>
                        </span>
                        <div class="box-info">
                            <p class="size-h2"> {{info.items}} <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="GROWTH" class="ng-scope">商品</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2"> {{info.users}} <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="NEW_USERS" class="ng-scope">用户</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2"><span class="size-h4">&yen;</span> 3,006 </p>
                            <p class="text-muted"><span data-translate="PROFIT" class="ng-scope">营收</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2"> {{info.sales}} <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="SALES" class="ng-scope">销售</span></p>
                        </div>
                    </div>
                </div>
                <!-- end stats -->
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>系统信息</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>服务器主机名</td>
                            <td><span class="label label-info">{{sysname}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55">
                            <div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar"  style="width: 55%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td><span class="label label-primary">{{sysplat}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="34" type="success">
                                <div class="progress-bar progress-bar-success" style="width: 34%;"></div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>服务器版本</td>
                            <td><span class="label label-success">{{sysversion}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="68" type="info">
                            <div class="progress-bar progress-bar-info" style="width: 68%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>运行的时间</td>
                            <td><span class="label label-danger">{{runtime}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="52" type="warning">
                            <div class="progress-bar progress-bar-warning" style="width: 52%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>内存总量</td>
                            <td><span class="label label-warning">{{cmemory}} MB</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="77" type="danger">
                            <div class="progress-bar progress-bar-danger" style="width: 77%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>空闲内存</td>
                            <td><span class="label label-info">{{smemory}} MB</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55" type="success">
                            <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td><span class="label label-info">{{cpu}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55" type="success">
                            <div class="progress-bar progress-bar-success" style="width: 85%;"></div>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

    {{> admin/slidebar}}
</div>
<!-- ./wrapper -->

{{> admin/footer}}
