{{> admin/header}}

<div class="wrapper">

  {{> admin/top}}

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="/admin&adminmain&sid=admin.html">
            <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i> <span>系统信息</span>
          </a>
        </li>

        <li class="treeview">
          <a href="/admin&mallgoods&sid=goods.html">
            <i class="fa fa-files-o"><span class="icon-bg bg-orange"></span></i>
            <span>商品管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&mallgoods&sid=goods.html"><i class="fa fa-circle-o"></i> 商品列表</a></li>
            <li><a href="/admin&pubgoods&sid=pubgoods.html"><i class="fa fa-circle-o"></i> 发布商品</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"><span class="icon-bg bg-warning"></span></i>
            <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&ordersales&sid=sales.html"><i class="fa fa-circle-o"></i> 销售订单</a></li>
            <li><a href="/admin&orderpayment&sid=payment.html"><i class="fa fa-circle-o"></i> 支付订单</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"><span class="icon-bg bg-success"></span></i>
            <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&userdatas&sid=user.html"><i class="fa fa-circle-o"></i> 用户列表</a></li>
            <li><a href="/admin&userinformation&sid=user.html"><i class="fa fa-circle-o"></i> 用户信息</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"><span class="icon-bg bg-primary-light"></span></i> 
            <span>消息管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&news&sid=news.html"><i class="fa fa-circle-o"></i> 消息列表</a></li>
            <li><a href="/admin&pubnews&sid=news.html"><i class="fa fa-circle-o"></i> 消息发布</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"><span class="icon-bg bg-primary"></span></i> 
            <span>数据中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 数据分析统计</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"><span class="icon-bg bg-violet"></span></i> 
            <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> temp</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="page page-dashboard">
        <div class="row">
            <div class="text-center">
                <!-- Stats -->
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                            <span class="fa fa-rocket"></span>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">36 <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="GROWTH" class="ng-scope">平台商品</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">22 <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="NEW_USERS" class="ng-scope">平台用户</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2"><span class="size-h4">&yen;</span> 3,550,006 </p>
                            <p class="text-muted"><span data-translate="PROFIT" class="ng-scope">平台收入</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel mini-box">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">21 <span class="size-h4"></span></p>
                            <p class="text-muted"><span data-translate="SALES" class="ng-scope">销售数量</span></p>
                        </div>
                    </div>
                </div>
                <!-- end stats -->
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>系统信息</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>服务器主机名</td>
                            <td><span class="label label-info">{{sysname}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55">
                            <div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar"  style="width: 55%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td><span class="label label-primary">{{sysplat}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="34" type="success">
                                <div class="progress-bar progress-bar-success" style="width: 34%;"></div></div>
                            </td>
                        </tr>
                        <tr>
                            <td>服务器版本</td>
                            <td><span class="label label-success">{{sysversion}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="68" type="info">
                            <div class="progress-bar progress-bar-info" style="width: 68%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>运行的时间</td>
                            <td><span class="label label-danger">{{runtime}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="52" type="warning">
                            <div class="progress-bar progress-bar-warning" style="width: 52%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>内存总量</td>
                            <td><span class="label label-warning">{{cmemory}} MB</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="77" type="danger">
                            <div class="progress-bar progress-bar-danger" style="width: 77%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>空闲内存</td>
                            <td><span class="label label-info">{{smemory}} MB</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55" type="success">
                            <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td><span class="label label-info">{{cpu}}</span></td>
                            <td><div class="progressbar-xs no-margin progress" value="55" type="success">
                            <div class="progress-bar progress-bar-success" style="width: 85%;"></div>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

    {{> admin/slidebar}}
</div>
<!-- ./wrapper -->

{{> admin/footer}}
