{{> admin/header}}

<div class="wrapper">

    {{> admin/top}}

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="/admin&adminmain?sid={{sid}}&admin.html">
            <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i> <span>系统信息</span>
          </a>
        </li>

        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-files-o"><span class="icon-bg bg-orange"></span></i>
            <span>商品管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&mallgoods?sid={{sid}}&page=1"><i class="fa fa-circle-o"></i> 商品列表</a></li>
            <li><a href="/admin&pubgoods?sid={{sid}}&pubgoods.html"><i class="fa fa-circle-o"></i> 发布商品</a></li>
          </ul>
        </li>

        <li class="active treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-pie-chart"><span class="icon-bg bg-warning"></span></i>
            <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&ordersales?sid={{sid}}&page=1" class="on"><i class="fa fa-circle-o"></i> 销售订单</a></li>
            <li><a href="/admin&orderpayment?sid={{sid}}&page=1"><i class="fa fa-circle-o"></i> 支付订单</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-laptop"><span class="icon-bg bg-success"></span></i>
            <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&userdatas?sid={{sid}}&user.html"><i class="fa fa-circle-o"></i> 用户列表</a></li>
            <li><a href="/admin&userinformation?sid={{sid}}&user.html"><i class="fa fa-circle-o"></i> 用户信息</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-edit"><span class="icon-bg bg-primary-light"></span></i> 
            <span>消息管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&news?sid={{sid}}&news.html"><i class="fa fa-circle-o"></i> 消息列表</a></li>
            <li><a href="/admin&pubnews?sid={{sid}}&news.html"><i class="fa fa-circle-o"></i> 消息发布</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-table"><span class="icon-bg bg-primary"></span></i> 
            <span>数据中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 数据分析统计</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"><span class="icon-bg bg-violet"></span></i> 
            <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> temp</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> 商品销售数据信息</strong></div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单期号</th>
                            <th>商品类型</th>
                            <th>商品名称</th>
                            <th>总需金币</th>
                            <th>已付金币</th>
                            <th>待付金币</th>
                            <th>支付编码</th>
                            <th>所属用户</th>
                            <th>地区</th>
                            <th>消费金币</th>
                            <th>订单状态</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each datas}}
                        <tr>
                            <td class="itemid"></td>
                            <td>{{ordernumber}}</td>
                            <td>
                            <script>
                              var type =  ~~{{itemtype}};
                              if (type === 1) document.writeln('游戏影音');
                              if (type === 2) document.writeln('手机数码');
                              if (type === 3) document.writeln('母婴商品');
                              if (type === 4) document.writeln('美妆商品');
                              if (type === 5) document.writeln('轻奢物品');
                              if (type === 6) document.writeln('水果保健食品');
                              if (type === 7) document.writeln('黄金珠宝');
                              if (type === 8) document.writeln('生活用品');
                            </script>
                            </td>
                            <td>
                              
                              {{#if itemname}} {{itemname}} {{else}} ... {{/if}}
                            </td>
                            <td>&yen; {{totalgold}}</td>
                            <td>&yen; {{overgold}}</td>
                            <td>&yen; {{surplusgold}}</td>
                            <td>
                                {{#if paycode}} {{paycode}} {{else}} ... {{/if}}
                            </td>
                            <td>{{#if getgoods}} {{getgoods}} {{else}} ... {{/if}}</td>
                            <td>{{#if city}} {{city}} {{else}} ... {{/if}}</td>
                            <td>{{#if paygolds}} &yen; {{paygolds}} {{else}} ... {{/if}}</td>
                            <td>
                                <script>
                                  var type =  ~~{{orderstate}};
                                  if (type === 0) document.writeln('进行中');
                                  if (type === 1) document.writeln('已完成');
                                </script>
                            </td>
                            <td>
                                {{starttime}}<br>
                                {{endtime}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm">通知</button>
                                <button type="button" class="btn btn-danger btn-sm">发货</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="tcdPageCode"></div>
        
        </div>
    </section>
    
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

    {{> admin/slidebar}}
</div>
<!-- ./wrapper -->

{{> admin/footer}}
<script src="{{static '/admin/scripts/jquery.page.js'}}"></script>
<script>
    $(function(){
        var number = ~~{{pageCount}};
        var page = window.location.href.split('page=')[1];

        for (var i = 0; i < $('.itemid').length;i+=1){
            $('.itemid').eq(i).html((page -1) * 10 + (i +1));
        }

        $(".tcdPageCode").createPage({
            pageCount: Math.ceil({{pageCount}} / 10),
            current: {{pageNow}},
            backFn:function(p){
                var url = window.location.href.split('page')[0]+'page='+p;
                window.location.href=url;
            }
        });

    });

</script>
