  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="/admin&adminmain?sid={{sid}}&admin.html">
            <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i> <span>系统信息</span>
          </a>
        </li>

        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-files-o"><span class="icon-bg bg-orange"></span></i>
            <span>商品管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&mallgoods?sid={{sid}}&page=1"><i class="fa fa-circle-o"></i> 商品列表</a></li>
            <li><a href="/admin&pubgoods?sid={{sid}}&pubgoods.html"><i class="fa fa-circle-o"></i> 发布商品</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-pie-chart"><span class="icon-bg bg-warning"></span></i>
            <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&ordersales?sid={{sid}}&sales.html"><i class="fa fa-circle-o"></i> 销售订单</a></li>
            <li><a href="/admin&orderpayment?sid={{sid}}&payment.html"><i class="fa fa-circle-o"></i> 支付订单</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-laptop"><span class="icon-bg bg-success"></span></i>
            <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&userdatas?sid={{sid}}&user.html"><i class="fa fa-circle-o"></i> 用户列表</a></li>
            <li><a href="/admin&userinformation?sid={{sid}}&user.html"><i class="fa fa-circle-o"></i> 用户信息</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-edit"><span class="icon-bg bg-primary-light"></span></i> 
            <span>消息管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin&news?sid={{sid}}&news.html"><i class="fa fa-circle-o"></i> 消息列表</a></li>
            <li><a href="/admin&pubnews?sid={{sid}}&putnews.html"><i class="fa fa-circle-o"></i> 消息发布</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-table"><span class="icon-bg bg-primary"></span></i> 
            <span>数据中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 数据分析统计</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"><span class="icon-bg bg-violet"></span></i> 
            <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> temp</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>